extends layout

block content
  div.aboutContainer
    h1=title
    div.row
      div.col-sm-1
        div.clientCompanyButtons
      div.col-sm-10.aboutBody
        p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Falcon Equity Partners LLP complements the advisory and consulting services of other Falcon Group members by providing advice on corporate partnering/development and ownership/business portfolio topics, such as mergers, acquisitions, joint ventures and divestitures to its clients, as well as creating and executing financial transactions. 
        br
        p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Falcon Capital has an international perspective and is equally experienced and at home in the corporate cultures of the US, the UK, Continental Europe, China, and Kazakhstan. Falcon Capital is exclusively focused on the real world of industry, with particular reference to the industry sectors and geographical regions exemplified by the client companies, and projects undertaken for them, listed on this website.
        br
        p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Falcon Capital’s starting position and proprietary edge is its depth of knowledge of what is happening in emerging markets, enabling added value to be brought to its clients through creative alliance, acquisition, divestiture and capital-raising ideas. Falcon Capital is pro-active in the initiation and the creation of transactions as well as in their assessment and effective execution. Reflecting the experience of its principals, Falcon Capital possesses excellent problem-solving and negotiation skills and will provide its external and independent sense of timing, feasibility, price, structure and psychology to improve and/or implement a transaction.
        br
        p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; In short, Falcon Capital, as a strategic transaction advisor, plays the role of a creative catalyst, working closely with senior management or the Board of a client company, providing ideas, seasoned judgement and guidance to accomplish the client’s goals.
      div.col-sm-1