extends layout

block content
  div.clientCompaniesContainer
    h1=title
    div.clientCompaniesBody
      div.row
        div.col-md-3
          div.companyList
            input(type='image' name='hailiangButton' src="../images/Hailiang_Education.jpg").hailiangButton
            br
            input(type='image' name='blackwaterButton' src="../images/blackwater.jpg").blackwaterButton
            br
            input(type='image' name='coderebelButton' src="../images/coderebel.jpg").codeRebelButton
            br
            input(type='image' name='cyberCityButton' src="../images/cybercity.png").cyberCityButton
            br
            input(type='image' name='flickMediaButton' src="../images/flikmedia.png").flikMediaButton
            br
            input(type='image' name='forgivenButton' src="../images/forgiven.png").forgivenButton
            br 
            input(type='image' name='fotoFwdButton' src="../images/fotofwd.png").fotoFwdButton
            br 
            input(type='image' name='heartTestLabsButton' src="../images/hearttest.png").heartTestLabsButton
            br 
            input(type='image' name='moorSkincareButton' src="../images/moor.jpg").moorSkincareButton
            br 
            input(type='image' name='myClubBettingButton' src="../images/myclubbetting.png").myClubBettingButton
            br 
            input(type='image' name='sportsTradexButton' src="../images/sportstradex.png").sportsTradexButton
        div.col-md-9.aboutBody
          div.hailiangEducationGroup
            h1 Hailian Education Group
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hailiang Education is the third largest provider of private K-12 educational services in the People’s Republic of China. Founded in 1995, the Company now operates three centrally managed schools under the “Hailiang” brand in Zhuji city, Zhejiang province:  Zhuji Hailiang Foreign Language School, Zhuji Private High School, and Tianma Experimental School. Its schools offer a basic educational program, an international program at the kindergarten, primary school, middle school, and high school levels, as well as courses designed for university-bound students studying for A-levels in the United Kingdom or the SAT in the United States. As of December 31, 2014, the company had 17,211 students who were enrolled in its schools.
            br
          div.blackwaterMidstream.hide
            h1 #[a(href='http://www.americanmidstream.com/Home/default.aspx')] Blackwater Midstream 
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Blackwater Midstream Corp. is an independent developer and operator of bulk liquid storage terminals including facilities within the Port of New Orleans in Westwego, Louisiana, Brunswick, Georgia, and Salisbury, Maryland. The Westwego facility consists of 856,000 barrels of storage capacity, while the Brunswick facility has 162,000 barrels of capacity, and 177,000 barrels at the Salisbury, Maryland terminal. All locations are capable of storing a variety of liquid products. Blackwater Midstream is a member of the International Liquid Terminal Association.  Blackwater was acquired by ArcLight Capital Partners and then sold again to American Midstream
            br
          div.codeRebel.hide
            h1 Code Rebel
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Code Rebel is an enterprise software company that develops, licenses and supports computer software designed for employee productivity and enterprise security across multiple platforms. The proprietary Code Rebel iRAPP software seeks to address the growing requirement of corporate IT departments to provide secure employee access from all their devices to all their devices and to other corporate resources. Code Rebel was co-founded by its computer engineering team to address the demand in the marketplace for secure interoperability between mobile, desktop and server environments with seamless interaction between Apple and Microsoft devices and software. The company supports its enterprise licensees from diverse industries, including banking, healthcare, retail, pharmaceutical, education and telecommunications
            br
            p The Company’s IPO was priced at $5.00 and traded as high as $44.00 and was named the best performing IPO of 2015 thus far
            br
          div.cyberCity.hide
            h1 Cyber City 3D
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; CyberCity 3D, Inc. is a state-of-the-art 3D geospatial modeling company specializing in 3D GIS buildings.  Based in Southern California, the Company provides best-in-class information for the built environment. CyberCity 3D empowers your projects with up-to-six inch accurate 3D city models with nearly unlimited uses. Our 3D GIS models also provide invaluable attribute information to assist in urban planning and analysis, visualization, real estate, solar, rainwater, and sustainability
            br
          div.flikMedia.hide
            h1 Flik Media
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; FlikMedia, Inc. provides a live video dating service. The company offers a mobile phone dating application that enables iOS and Android phone users to browse pictures, chat, and make video calls. It was formerly known as Flikdate Inc. and changed its name to FlikMedia, Inc. in July 2014. The company is based in Kahului, Hawaii
            br
          div.forgiven.hide
            h1 Forgiven
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Forgiven is a natural, chemical free alcohol metabolizer. This unique formula provides nutrients, minerals and organic acids utilized by your body to rapidly breakdown alcohol.
            br
          div.fotoFwd.hide
            h1 Fotofwd
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Fotofwd delivers onsite printing capabilities for venues, festivals, trade shows, special events, weddings and more through Facebook, Instagram, Twitter, Foursquare and our Fotofwd apps. Our user experience and innovative branding solutions are forged by fusing consultative insight, inspired creative and technological wizardry to create multichannel connections between brands and customers, helping clients connect with their audience in a digitized and mobilized world.
            br
          div.heartTestLabs.hide
            h1 Heart Test Laboraties
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The MyoVista is a proprietary, patent pending, device that is used to identify myocardial abnormalities-ischemia, which in layman’s terms, is reduced blood flow to the heart muscle.  The technology incorporates three-dimensional mapping of the heart through proprietary algorithms that continuously multiplexes each of the ten surface electrodes that are reading the electrical impulses that are generated by the heart.  The system is looking for a predetermined ratio of electronic signal values that are extracted from the heart’s muscle activity within the myocardium on a beat-by-beat basis.  This data includes the amplitude, timing and frequency of these signals. The algorithm then processes this information to indicate the location and approximate magnitude of one or more compromised vascular situations, if they are present.
            br
          div.moorSkincare.hide
            h1 Moor Skincare
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Neydharting Moor’s legendary healing skin treatments address all the signs of aging, fatigue and environmental damage on the skin. 
            ul
              li Moor’s proprietary Peat & Peat Water have a unique molecular structure that actually deepen and enhance the effects of all other anti-aging ingredients applied to the skin. The healing and health benefits of Moor have been celebrated since 800BC.
              li Celtic priests, Paracelsus, Louis XIV, Napoleon and Josephine and European royalty have all turned to the Neydharting Moor.
              li Nine International Scientific Congresses have concluded Neydharting is the only therapeutic medicinal moor—in the world.
              li Treatments with Neydharting’s healing Peat & Peat Water have been subsidized by governments in Austria, Germany, France, Italy and Switzerland.
              br
          div.myClubBetting.hide
            h1 My Club Betting
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The MCB technology allows clubs to produce a customised boutique website in their colours, featuring the club logo and links to their social media, no matter the size of the club.  This provides a common base for working with the clubs efficiently and effectively. All clubs share in the revenues generated by their betting members on the same basis.  MCB works with the clubs to promote the service providing social media support through a unique weekly tweet scheduler, content for weekly match programs, promotional materials for the clubhouse, content for newsletters and the running of events and competitions. Investments are being made in Marketing and other digital systems to increase club recruitment, customer conversion, retention and revenue per player.
            br
          div.sportsTradex.hide
            h1 SportsTradex
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sports Tradex was formed in 2012 to provide fun and innovative daily fantasy sports games to fans seeking new ways to engage with their favorite teams and players.  Named the most promising IT Venture at the 2014 Rice University Tech Venture Forum (the largest venture and start-up conference in the Southwest) the Company has never looked back. Sports Tradex is an exciting fantasy sports startup with one-day fantasy games. SportsTradex provides skill-based, daily fantasy games. The company collects entry fees to play and pays cash prizes to winners. For users, these new game types provide immediate gratification with daily results without the long-term commitment of traditional fantasy games that last an entire sports season. As a real revenue company, SportsTradex generated $1.350,000 in gross revenue for 2014 and expects approximately $4,000,000 for 2015.  SportsTradex differentiates itself from other daily fantasy companies with very appealing and unique game formats for fantasy players. Fantasy sports is a $15 billion industry with over 41 million users in the US & Canada. Daily games represent the fastest growing, most valuable segment of the market. The 1% of all fantasy sports users that play daily games account for over 25% of the total market spend. The Fantasy Sports Trade Association predicts daily fantasy will increase from 1,000,000 users to 10,000,000 users in the next three years.
