extends layout

block content
  div.homepageHeader
  div.homepageBodyContainer
    //- img(src='../images/falconFirstHeroDraft.jpg')
    .falconHeroText.text-animated-one
    h1.span Falcon Capital
  div.row
    div.col-sm-1
    div.col-sm-10.homepageContainer
      p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Falcon Group is an international group of consulting firms dedicated to providing a wide range of services to businesses of all sizes and in particular to deliver business development and change management advice to small and medium companies across a wide range of industries in both developed and emerging markets with particular emphasis on India, China, as well as, Kazakhstan, and other emerging markets. Working from the solid foundations and successful track record dating back to 1998 of its predecessor, Falcon Capital Partners Limited, Falcon International Consulting Limited, the lead partner of the group, serves a client base of over 1500 banks, institutions and others, including high net worth individuals located in 59 countries across 6 continents.
      br
      p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Falcon Group benefits from strategic relationships between its member companies, which include Falcon Equity Parters LLP, which provides Falcon Group with the geographical reach of a network of offices and personnel located throughout Europe, the Middle East and Latin America, and Falcon Equity Partners LLP, based in London. Falcon Equity Partners LLP provides Falcon Group clients with a full range of corporate advisory services, including capital raising, that complement and extend the consultancy services of other members of the group.
      br
      p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; To date well-over a half of a billion dollars has been raised by Falcon Group for various projects it has supported, please refer to the web links below for examples of projects members of the Falcon Group have recently successfully undertaken.
    div.col-sm-1