extends layout

block content
  div.clientCompaniesContainer
    h1=title
    div.clientCompaniesBody
      div.row
        div.col-md-3
          div.companyList
            input(type='image' name='geodesicButton' src="../images/Hailiang_Education.jpg").geodesicButton
            br
            input(type='image' name='rathiUdyogButton' src="../images/blackwater.jpg").rathiUdyogButton
            br
            input(type='image' name='dskLimitedButton' src="../images/coderebel.jpg").dskLimitedButton
            br
            input(type='image' name='subrosButton' src="../images/cybercity.png").subrosButton
            br
            input(type='image' name='limeChemicalsButton' src="../images/flikmedia.png").limeChemicalButton
            br
            input(type='image' name='indiaCoButton' src="../images/forgiven.png").indiaCoButton
            br 
            input(type='image' name='autolineStampingsButton' src="../images/fotofwd.png").autolineStampingsButton
            br 
            input(type='image' name='unitedWesternBankButton' src="../images/hearttest.png").unitedWesternBankButton
            br 
            input(type='image' name='viseshInfotecnicsButton' src="../images/moor.jpg").viseshInfotecnicsButton
            br 
            input(type='image' name='verityButton' src="../images/myclubbetting.png").verityButton
            br 
            input(type='image' name='microTechnologiesButton' src="../images/sportstradex.png").microTechnologiesButton
            br
            input(type='image' name='muktaArtsButton' src="../images").muktaArtsButton
        div.col-md-9.aboutBody
          div.geodesic
            h1 Geodesic
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Geodesic is a fast growing, profitable, software company incorporated in 1999. Geodesic has a history marked with bright ideas, breakthrough thinking and path-breaking achievements. Geodesic builds high performance and cost effective IT solutions for customers and develops innovative products for the web, focusing its inventive capabilities across three regions of the information technology space….interoperable instant messaging, modular and scalable B2B/B2C engines complete with CRM and business process integration, and consulting and support Their breakthrough product is their Mundu Messenger which allows  Interoperability with AIM, ICQ, MSN, and Yahoo (the only messenger platform that does so) and  cross-conferencing between five messenger services. 
            br
          div.rathiUdyogLimited.hide
            h1 #[a(href='http://www.americanmidstream.com/Home/default.aspx')] Rathi Udyog Limited
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Rathi Udyog was originally incorporated on December 17, 1972 for carrying on the business of Iron and Steel founders and manufacturers, steel makers, steel converters and to establish Steel Rolling Mills and Rollers.   The company is engaged in manufacturing of Re Bars and Wire Rods which are broadly categorized under the Long Products category in the Steel Industry.  The main applications are in the Construction Industry.
            br
          div.dskLimited.hide
            h1 DSK Limited
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; DSK group, a Rs 150 crore group, headed by the dynamic D.S. Kulkarni, started its business in 1970, venturing in the field of construction since 1981 and various other business fields like Engineering, Chemicals, hotels, Trading House and Import and Export since 1996.  Today the DSK group enjoys a commanding presence in the housing sector in Pune and Mumbai and is rated amongst the top real estate developers in the region.  The DSK group is backed by a team of highly qualified, experienced and internationally renowned experts. It is perhaps the only group to have an R & D division aimed at a continuous improvement in their creations. 
            br
          div.subros.hide
            h1 Subros
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Subros was established in 1985 as a joint venture between the Suri Brothers, Denso Corporation, Japan and Suzuki Motor Corporation, Japan. The company has grown from a capacity of 15,000 AC units in 1985 comprising of largely an assembly operation, into the largest and only integrated manufacturing unit in India for Auto Air Conditioning systems. The company has the capability to manufacture compressors, condensers, heat exchangers and all the connecting elements that are required to complete the AC Loop.  Subros has three plants in Noida and one in Gurgaon. The Company is in the process of setting up plants at Manesar and Pune. It also has a R&D centre and Tool room in Noida. The manufacturing capacity has grown to a level of 500,000 AC units per annum.
            br
          div.limeChemicals.hide
            h1 Lime Chemicals
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Lime Chemicals Limited was established in the year 1970 as a private limited company with an initial production capacity of 3000 MTPA of Calcium Carbonate. The company has grown over the years and now has a capacity of more than 55,000 MTPA of Calcium Carbonate (PCC & ACC). Over the years the company has an established its dominance over the manufacture of “Precipitated and Coated Calcium Carbonate”. Calcium Carbonate is used across various industries like polymers, FMCG, industrial chemicals, etc.
            br
          div.indiaCo.hide
            h1 IndiaCo
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IndiaCo Ventures Limited is a financial services company listed on the Bombay stock exchange that proposes to provide capital, strategic direction and operational expertise to growth oriented companies. IndiaCo Ventures Limited is promoted by IndiaCo Group that has been recognized by several multilateral agencies and is currently supported under the InfoDev initiative of the World Bank.  IVL was formed to address some of the key problems that have been traditionally faced by both hi-growth companies and investors.
            br
          div.autolineStampings.hide
            h1 Autoline Stampings
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Autoline Stampings Private Ltd. was founded in 1995 in Pune, India, with a vision to offer innovative, cutting-edge auto component solutions to Indian and global manufacturers spanning the entire spectrum of 2, 3 and 4 wheelers. Autoline is a major supplier of sheet metal components, sub-assemblies and assemblies to leading Automobile Companies in India. The Company is engaged in manufacturing various auto parts for Passenger cars, Sports Utility vehicles (SUV), Commercial Vehicles, Tractors, Three wheelers and Two wheelers. The Company has direct vendor codes for supply of sheet metal components & assemblies to Tata Motors, Bajaj Auto Ltd., Kinetic Engineering, Kalyani Brakes Ltd., Mahindra & Mahindra Ltd., Greaves Piaggio Ltd., Walker Exhaust (India) Systems Ltd., & Fiat, India.
            br
          div.unitedWeesternBank.hide
            h1 United Western Bank
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;United Western Bank was Incorporated in 1936, the Bank is one of the largest private sector commercial Banks in India. The share holding of the Bank is well dispersed all over the country. The Bank can be described as the Bank with a Steady Past, Prospering Present and Promising future. The Bank’s 230 branches spread over 47 districts of 9 states are controlled by five Zonal Offices at Mumbai, Pune, Kolhapur, Jalgaon, and Nagpur. The Head Office at Satara oversees the operations of the five Zones. Customer Service Cells with representation of customers are active at more than 150 branches. 
            br
          div.viseshInfotecnics.hide
            h1 Visesh Infotecnics
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Visesh was set up in 1986, Visesh Infotecnics has two software developments centres at Bangalore and Gurgaon, respectively. This ISO 9001:2000 company also has a unit in Bangkok. Visesh has an impressive client list which includes companies like GE Capital, Hutchison Essar, BT, Bharti Cellular, Tata Honeywell, Honda Siel Cars, Kalyani Brakes, Rico Auto, National Panasonic, Ford Motors (Thailand), Nike (Thailand), Landmark Group (UAE), Al Quahtani Maritime (Saudi Arabia), etc. Visesh has alliances and partnerships with global leaders including IBM, HP, Sun, Cisco, Nortel, 3Com, Oracle, Microsoft, Novell, etc.  The company has specialised competence in enterprise business applications & solutions, customised software development, web-enabled application development, high-end network design and deployment, Mobile Telematics and modification, conversion & migration of existing applications. Its flagship ERP products are named BusineSSoftTM, BusinessProTm and PowERProTm.  Under the brand name TransXS, Visesh has introduced a wide variety of products and services in the field of Mobile Telematics/Telemetry. This would include GPS-based tracking, Mobile Telematics and GIS web-enabled application software and hardware development activities in India and abroad. With a view to foster growth and domain expertise, recently Visesh merged MPS Technosoft (formerly Polar Software) with itself. A seven-year-old IT company, MPS Technosoft is engaged in the field of web hosting solutions, digital ID management, domain registration, e-commerce solutions, web site development, etc. It was the first Indian company to obtain ICANN accreditation for registration of top-level domains names under the brand “Signdomains”, which is a registered trademark of MPS Technosoft. The company has also moved into the booming BPO segment through a unit at Gurgaon. 
            br
          div.verity.hide
            h1 Verity
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;A new generation company established in 2000 with its headquarters in Bangalore, India’s IT capital, today Verity is a formidable presence in the highly specialized, niche technology of space of wireless data services.  Leveraging its expertise in new generation technologies and partnerships with premier technology providers, Verity’s services benefit consumers, enterprises and network service providers.  Verity’s specialization lies in Mobile Application Development on J2ME and BREW Platforms. Their proven market experience of working with mobile technologies like J2ME and BREW combined with software programming languages and platforms like J2EE enables us to provide enhanced, value-added services to their clients.
            br
          div.microTechnologies.hide
            h1 Microtechnologies
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Micro Technologies Ltd is a leading hi-tech software solutions enterprise based in Mumbai, India. Formed in 1992, MITL offers a suite of software products for the Security, Messaging, and Wireless Industries.  In addition to it traditional IT solutions, MITL has recently developed the Vehicle Black Box (“MICROVBB”) a highly promising IT Security product. Through the use of its unique patented technology, MICROVBB has been fully tested by reputed organizations internationally and is currently in the final stages of approval by various vehicle manufacturers. Micro Technologies Ltd is a leading hi-tech software solutions enterprise based in Mumbai, India. Formed in 1992, MITL offers a suite of software products for the Security, Messaging, and Wireless Industries. In addition to it traditional IT solutions, MITL has recently developed the Vehicle Black Box (“MICROVBB”) a highly promising IT Security product. Through the use of its unique patented technology, MICROVBB has been fully tested by reputed organizations internationally and is currently in the final stages of approval by various vehicle manufacturers.
            br
          div.muktaArts.hide
            h1 Mukta Arts
            p&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Mukta Arts Limited (MAL) was formed in 1978 by noted Bollywood film icon Subhash Ghai.  Starting from its core competency of film production, the company has diversified into all aspects of the entertainment industry including motion picture and television production/distribution, post-production and training.  Through its distribution company, Mukta Movie Distributors. MAL is one of only two nationwide distributor chains in India.  Mukta Telemedia, MAL’s television company has established a strong presence with major satellite channels to provide unique programming opportunities and content.  One of the most promising initiatives undertaken by MAL is Whistling Woods International, an institute for film, television, and media arts.  The institute will offer world class teaching across all technical and creative aspects of film and television.
