extends layout

block content
  h1#Geodesic.clientCompaniesHeader=title
  div.clientCompaniesContainer1
    div.clientCompaniesBody1
      div.Geodesic
        div
            h1 Geodesic
            img(src="../images/GeoDesic.png")
            br
            br
            p Geodesic is a fast growing, profitable, software company incorporated in 1999. Geodesic has a history marked with bright ideas, breakthrough thinking and path-breaking achievements. Geodesic builds high performance and cost effective IT solutions for customers and develops innovative products for the web, focusing its inventive capabilities across three regions of the information technology space….interoperable instant messaging, modular and scalable B2B/B2C engines complete #[#RathiUdyogLimited] CRM and business process integration, and consulting and support Their breakthrough product is their Mundu Messenger which allows  Interoperability with AIM, ICQ, MSN, and Yahoo (the only messenger platform that does so) and  cross-conferencing between five messenger services. 
            br
      div.RathiUdyogLimited
        h1 Rathi Udyog Limited
        img(src="../images/RathiSteel.jpg")
        br
        br
        p  Rathi Udyog was originally incorporated on December 17, 1972 for carrying on the business of Iron and Steel founders and manufacturers, steel makers, steel converters and to establish Steel Rolling Mills and Rollers.   The company is engaged in manufacturing of Re Bars and Wire#[#DSKGroup] Rods which are broadly categorized under the Long Products category in the Steel Industry.  The main applications are in the Construction Industry.
        br
      div.DSKLimited
        h1 DSK Limited
        img(src="../images/DSKGroup.png")
        br
        br 
        p  DSK group, a Rs 150 crore group, headed by the dynamic D.S. Kulkarni, started its business in 1970, venturing in the field of construction since 1981 and various other business fields like Engineering, Chemicals, hotels, Trading House and Import and Export since 1996.  Today the DSK group enjoys a commanding presence in the housing #[#Subros] sector in Pune and Mumbai and is rated amongst the top real estate developers in the region.  The DSK group is backed by a team of highly qualified, experienced and internationally renowned experts. It is perhaps the only group to have an R & D division aimed at a continuous improvement in their creations.
        br#CyberCity
        p The Company’s IPO was priced at $5.00 and traded as high as $44.00 and was named the best performing IPO of 2015 thus far
        br
      div.Subros
        h1 Subros
        img(src="../images/Surbos.gif")
        br
        br 
        p  Subros was established in 1985 as a joint venture between the Suri Brothers, Denso Corporation, Japan and Suzuki Motor Corporation, Japan. The company has grown from a capacity of 15,000 AC units in 1985 comprising of largely an assembly operation, into the largest and only integrated manufacturing unit in India for Auto Air Conditioning systems. The company has the capability to manufacture compressors, condensers, heat exchangers and all the connecting elements that are required #[#LimeChemicalsLtd] to complete the AC Loop.  Subros has three plants in Noida and one in Gurgaon. The Company is in the process of setting up plants at Manesar and Pune. It also has a R&D centre and Tool room in Noida. The manufacturing capacity has grown to a level of 500,000 AC units per annum.
        br
      div.LimeChemicalsLimited
        h1 Lime Chemicals Limited
        img(src="../images/LimeChemicalsLtd.jpg")
        br
        br
        p  Lime Chemicals Limited was established in the year 1970 as a private limited company with an initial production capacity of 3000 MTPA of Calcium Carbonate. The company has grown over the years and now has a capacity of more than 55,000 MTPA of Calcium Carbonate (PCC & ACC). Over the years #[#IndiaCo] the company has an established its dominance over the manufacture of “Precipitated and Coated Calcium Carbonate”. Calcium Carbonate is used across various industries like polymers, FMCG, industrial chemicals, etc.
        br
      div.IndiaCo
        h1 IndiaCo Ventures Limited
        img(src="../images/IndiaCo.jpg")
        br
        br
        p  IndiaCo Ventures Limited is a financial services company listed on the Bombay stock exchange that proposes to provide capital, strategic direction and operational expertise to growth oriented companies. IndiaCo Ventures Limited is promoted by IndiaCo Group that has been recognized by several multilateral agencies and is #[#Autoline]currently supported under the InfoDev initiative of the World Bank.  IVL was formed to address some of the key problems that have been traditionally faced by both hi-growth companies and investors.
        br
      div.Autoline
        h1 Autoline Stampings Private Ltd. 
        img(src="../images/AutoLine.png")
        br
        br
        p Fotofwd delivers onsite printing capabilities for venues, festivals, trade shows, special events, weddings and more through Facebook, Instagram, Twitter, Foursquare and our Fotofwd apps. Our user experience and innovative branding solutions are forged by fusing consultative insight, inspired creative and technological wizardry to create multichannel connections between brands and customers, helping clients connect with #[#UnitedWesternBank] their audience in a digitized and mobilized world.
        br
      div.UnitedWesternBank
        h1 United Western Bank
        img(src="../images/UnitedWesternBank.png")
        br
        br
        p United Western Bank was Incorporated in 1936, the Bank is one of the largest private sector commercial Banks in India. The share holding of the Bank is well dispersed all over the country. The Bank can be described as the Bank with a Steady Past, Prospering Present and Promising future. #[#ViseshInfotecnics]The Bank’s 230 branches spread over 47 districts of 9 states are controlled by five Zonal Offices at Mumbai, Pune, Kolhapur, Jalgaon, and Nagpur. The Head Office at Satara oversees the operations of the five Zones. Customer Service Cells with representation of customers are active at more than 150 branches. 
          br
      div.ViseshInfotecnics
        h1 Visesh Infotecnics
        img(src="../images/ViseshInfotecs.png")
        br
        br
        p The MCB technology allows clubs to produce a customised boutique website in their colours, featuring the club logo and links to their social media, no matter the size of the club. This provides a common base for working with the clubs efficiently and effectively. All clubs share in the revenues generated by their betting members on the same basis.  MCB works with the clubs to promote the service providing social media support through a unique weekly tweet scheduler, content for weekly match programs, promotional materials for the clubhouse, #[#Verity] content for newsletters and the running of events and competitions. Investments are being made in Marketing and other digital systems to increase club recruitment, customer conversion, retention and revenue per player.
        br
      div.Verity
        h1 Verity
        img(src="../images/Verity.png")
        br
        br
        p A new generation company established in 2000 with its headquarters in Bangalore, India’s IT capital, today Verity is a formidable presence in the highly specialized, niche technology of space of wireless data services.  Leveraging its expertise in new generation technologies and partnerships with premier technology providers, Verity’s services benefit consumers, enterprises and network service providers.  Verity’s specialization lies in Mobile Application Development on J2ME and BREW #[#MicroTechnologies]Platforms. Their proven market experience of working with mobile technologies like J2ME and BREW combined with software programming languages and platforms like J2EE enables us to provide enhanced, value-added services to their clients. 
        br
        div.MicroTechnologies
          h1 Micro Technologies Ltd
          img(src="../images/MicroTechnologies.jpg")
          br
          br
          p Micro Technologies Ltd is a leading hi-tech software solutions enterprise based in Mumbai, India. Formed in 1992, MITL offers a suite of software products for the Security, Messaging, and Wireless Industries.  In addition to it traditional IT solutions, MITL has recently developed the Vehicle Black Box (“MICROVBB”) a highly promising IT Security product. Through the use of its unique patented technology, #[#MuktaArts] MICROVBB has been fully tested by reputed organizations internationally and is currently in the final stages of approval by various vehicle manufacturers.
          br
          div.MuktaArts
            h1 Mukta Arts Limited
            img(src="../images/MuktaArtsLimited.png")
            br
            br
            p Mukta Arts Limited (MAL) was formed in 1978 by noted Bollywood film icon Subhash Ghai.  Starting from its core competency of film production, the company has diversified into all aspects of the entertainment industry including motion picture and television production/distribution, post-production and training.  Through its distribution company, Mukta Movie Distributors. MAL is one of only two nationwide distributor chains in India.  Mukta Telemedia, MAL’s television company has established a strong presence with major satellite channels to provide unique programming opportunities and content.  One of the most promising initiatives undertaken by MAL is Whistling Woods International, an institute for film, television, and media arts.  The institute will offer world class teaching across all technical and creative aspects of film and television.
            br        
    div.sidebarClientCompanies
      ul.ulHeader Client Companies
        li
            a(href='#Geodesic') Geodesic
        li
            a(href='#RathiUdyogLimited') Rathi Udyog Limited
        li
            a(href='#DSKGroup') DSK Limited
        li
            a(href='#Subros') Subros
        li
            a(href='#LimeChemicalsLtd') Lime Chemicals Limited
        li 
            a(href='#IndiaCo') IndiaCo Ventures Limited
        li 
            a(href='#AutoLine') Autoline Stamping Private Ltd.
        li 
            a(href='#UnitedWesternBank') United Western Bank
        li 
            a(href='#ViseshInfotecnics') Visesh Infotecnics
        li 
            a(href='#Verity') Verity
        li
            a(href='#MicroTechnologies') Micro Technologies Ltd
        li
            a(href='#MuktaArts') Mukta Arts Limited
