extends layout

block content
  h1.clientCompaniesHeader=title
  div.teamContainer
    div.teamBody
      div.partners
        h1.teamTitles Partners
        h1 Wilson Rondini - Managing Partner
        p Wil started his career in the world of finance in 1982 and for the first seventeen years was a stockbroker working on LaSalle Street in Chicago, one of America’s two financial nerve centers, for one of the largest International investment banks. He was a frequent speaker at new hire training programs and was instrumental in creating a National “Apprentice Broker” Trainee Program. After five years as a retail broker, Wil assumed the role of Sales Manager in the seventy-man Chicago office and was invited to be a regular keynote speaker at the National Meetings for the firm’s top producers. He remained a perennial top producer and in his final year at this International firm he was ranked seventh nationally out of fifteen thousand brokers and was ranked first in N.Y.S.E. listed business. After five-years in the National spotlight, Wil went to a large, regional, Chicago-based, brokerage firm where he remained the number one producer in the country for a five-year period, before founding Falcon Capital in 1998. His greatest achievements remain the co-creation of Wilson IV in 1986, Vanessa in 1987, and the newest addition to the portfolio, Christian in 2010.  Wil sits on a number of Boards #[a(href='https://www.linkedin.com/profile/view?id=237608314&trk=nav_responsive_tab_profile') which can be seen on his LinkedIn profile.]
        br
        h1 Angus Rose - Partner
        p Angus qualified as a chartered accountant at Deloittes and after stints in London and Paris joined Charterhouse Merchant Bank  in 1979 and was promoted to director in 1990. After Leaving Charterhouse in 2002 he became Finance Director at Herald Investment Trust and MacArthur and Co,  Senior partner  at VC Falcon Capital and finally joined  Alexander David as Finance Director in 2009.
      div.ExecutiveVicePresidents
        h1.teamTitles Executive Vice Presidents
        h1 Tim Graveney
        p Tim has had a lengthy career in the instalment credit business since joining the leasing subsidiary of a small merchant bank Group in 1979. He continued to work through the ranks, assisting in the sale of Mullionwood Limited to a subsidiary of a fully quoted public company, Brengreen Holdings plc.
        br
        p In 1986, he was the main architect and founder of Hermes Group (now trading as a division of Shawbrook Bank Limited) and successfully built this business into one of the largest independent finance houses in the UK prior to its sale to Singer & Friedlander in November 2001.
        br
        p He continues to act as an independent finance broker for a number of institutions in the finance industry (Aldermore Bank, Close Brothers, Shawbrook Bank, Arkle Finance, Rothschilds) via his vehicle Oakley Credit Limited (holding a current CCL Licence and DPN)  from 2001 to present day. Interim permission from the FCA is also held.
        br
        p Tim was actively involved in the planning and execution of the MBO of Software Radio Technology, a non core subsidiary of Securicor Plc, subsequently leading to the company’s floatation on the AIM market in November 2005; the business is still quoted to this day.
        br
        p He was a founding shareholder and Director of Carbon Advice Group Plc. in January 2009 and continued to use his extensive contact base to broaden this business’s activities until this company was voluntarily closed due to alteration in EU Legislation in 2013.
        br
        p Tim continues to act as a Consultant for Bele Holdings SA Ltd, a Johannesburg based commodities business which owns several large holdings in Southern Africa from 2004 to the present day.
        br
        p He is a Director of TWH Romsey Limited, the trading arm of the freehold hotel known as The White Horse in Romsey since May 2014 to present day.
        br
        p Tim has an extensive family sporting background (formerly a Trustee of The Lords Taverners) and through his unique network of contacts within the sporting and business worlds is ideally placed to assist Falcon Capital in a Non-Executive capacity, in turn possibly introducing the company to a selection of lucrative and diverse opportunities as and when they arise.
        br
        p He remains an active member of the Charity, The Lord’s Taverners since 1986, having served as a Trustee for a maximum 9 year period and continues to be an ex-offico member of the Commercial Committee and having founded the youth arm The Taverners Colts (now Young Lords Taverners).
        br
        p Tim is married to Emma, with two children, Holly 15 and Monty 12.
        br
        br
        br
        h1 Marco Castaldo
        br
        p Marco started his career as a financial department manager of an international company previously called Technipetrol Spa building petrochemicals plant in many foreign countries. Marco was in charge of negotiating contract’s financial sections with clients and structuring financing facilities with international banks to provide our clients with the funds to buy the plants. During this period the Company sent Marco to London for a year to train in the International Banking department of Morgan Grenfell & Co, a private very prestigious merchant bank lately bought by Deutsche Bank.
        br
        p Marco then joined Azimut SpA one of the most famous wealth managers company in Italy as a Private Banker before moveing to Credit Suisse Italy; during this period he was a Co-Founder of a financial consulting company for small enterprises and Chairman of the Board of Directors of a Municipality-owned Company called Volturno Multiutility SpA in a small town near Naples. Marco has a Degree in Economics and graduated cum laude at the University of Naples and a Master in Business Administration in Italy.
        br
        br
        br
        h1 Joan Abessera
        br
        p Ms. Abessera is an experienced portfolio manager with more than 20 years investment experience. Ms Abessera was formerly a Private Banker in Monaco working for Credit Suisse, HSBC and Compagnie Monegasque de Banque. Prior to her career as an investment professional, Ms. Abessera spent more than a decade in wealth management working for RBC, Scotia McLeod and Nesbitt Thomson as an Investment Advisor in Canada. She is a graduate of McGill University.
        br
        br
        br
        h1 John Howarth
        p John embarked on a career in finance in 1986, cutting his teeth within the direct sales force of Provident Mutual in Manchester, becoming their top producer in just his second month. He then became a founder director of a brokerage for 5 years, becoming a Fully Qualified IFA in 1991. After advising some 600 clients in his first 6 years, he decided to focus on the HNW market, specializing in tax efficient structures.  This gave him a taste for Offshore Investment and in 1995 he decided to move to the gulf, in search of a new challenge.  He moved to Bahrain in the role of Sales Manager for a large offshore brokerage.  His first year saw him achieve the status of top producer for that company, working briefly in Saudi Arabia, Dubai and Cyprus along the way.  2001 saw a return to Europe and Amsterdam in particular, where John became a founding partner of a Pan European brokerage.  It was there that he developed an appetite for Private Equity, teaming up with Falcon Capital in September 2004.  John’s strength has been his ability to combine consistently high levels of production, with good technical knowledge of tax efficient offshore structures.  In early 2009, John relocated to Asia where he continues to advise HNW expatriates across the region.  When he is not advising clients or networking, John likes to spend time with his family and playing the occasional game of golf.
        br
        br
        br
        h1.teamTitles Advisory Board
        h1 Graham Bibby
        p Graham Bibby, founder of Richmond Asset Management did step away from managing equities in 2011 to write 4 books. Now he is back and has recently launched The Insiders Club to Empower people to create consistent, sustainable wealth.
        br
        p For over a decade Graham has been the Number One investment manager in his class. Graham is set to reveal the Insiders Secrets to how the rich get richer whilst millions lose in the stock market. 
        br
        p “Born in 1954, the Chinese year of the horse, makes this auspicious timing to move back to what he does best. This is once again the Chinese Year of the Horse and this year the horse will run with the bulls,” said Graham Bibby.
        br
        p Graham Bibby has over 30 year experience in the financial markets. In 1991 he founded Richmond Asset Management, a boutique financial advisory based in Hong Kong licensed by the Securities and Futures Commission of Hong Kong.
        br
        p He is an expert in technical analysis and was the former Chairman of the Technical Analyst Society of Hong Kong. He is also a founding member of the Hong Kong Securities Institute and a founding member of the UK Financial Planners Institute.
        br
        p “So with over 30 years of watching charts and market trends, and being the ex-Chairman of the Technical Analyst Society of Hong Kong, I knew how to identify when the stock had started an uptrend.  As important, I also know how to protect from losses when a downtrend starts" – Graham Bibby
        br
        br
        br
        h1 David Scott
        p David Scott, has over 30 years of corporate broking and investment banking experience in advising small and medium-sized companies on both the Official List and AIM. He has extensive experience in private equity and advising unquoted companies. David began his career in the corporate finance department of L Messel & Co and has since been a director of corporate broking at ING Barings, a director of Resolution Partners Limited, and Lewis Charles. David is the majority shareholder of Alexander David and heads the corporate department.  David has responsibility for the business development of the Company and for the day-to-day management of the Group.
        br
        br
        br
        h1 Frank Bult
        p Frank is the Co-Founder of Phenix Capital
        p Frank has been active in the financial industry since 1996 … after an initial career as an equity derivatives trader and broker Frank combined his network, experience, and desire for a positive change and joined the World of Impact Investing in 2012.  Frank actively advises social entrepreneurs and supports investors in placing capital in enterprises and funds that are directed towards solving specific, and significant, environmental and social challenges. By assisting in organizing Impact Investment Events, Frank aims to contribute to growth and further development of the Impact Investment Industry, as a whole.
        br
        br
        br
        h1 Andre Peschong
        p As an investment banking professional, with more than 25 years of experience, Mr. Peschong provides key perspectives and insights to his clients regarding the capital structuring and placement process. Having experience as an investment manager for 3 different funds as well as being an entrepreneur and investment banking professional, means that Mr. Peschong has experienced all sides and perspectives of a financing transaction. This gives him unique insight into what risks are being looked at by institutional capital and allows him to properly guide companies through the process of raising capital from diligence to packaging to structuring. As a founding partner of this boutique merchant/investment banking firm, Bridgewater Capital, Mr. Peschong has honed his skills in the financial markets. 
        p Highlights of Andre's career include but are not limited to:
        ul
          li 25+ years of experience in the capital markets, having structured, negotiated and closed over $300+ million in equity capital into companies.
          li Completed M&A transactions with over $100 million in enterprise value.
          li Spearheaded transition of ten companies from privately held companies to publicly traded companies, creating value of over $500 million.
          li Investment Manager with 3 different fund strategies over the last 15 years.
          li Advised and worked with many earlier stage public and private companies providing traditional investment banking advisory work as well as, M&A, capital structuring, joint ventures, private placements, business development and strategic focusing at the board level.
          li Worked across diverse industry segments but currently focus in technology (specifically mobile tech), life sciences, consumer products and clean technology.
          li Experience in writing and developing business and operating plans for client companies.
          li Robust experience with taking US companies to Europe and introducing them to long term capital groups both for traditional exposure and for capital raise assignments.
          li Member of two active Southern California Angel groups.
          li Authored and quoted in many articles on Angel investing and the economic landscape for Forbes, Businessweek, New York Times, Blogging stocks, Seeking Alpha, etc.
          li FINRA licenses, 62, 63 and 79
        br
        br
        br
        h1
          a(href='http://www.rootofsuccess.com') Wayne Allyn Root
        p “Wayne Root teaches what being an entrepreneur is all about…” –Charles Schwab
        br
        p “Wayne’s success is mind-blowing…talking to Wayne Allyn Root is like talking to Tony Robbins.” –FOX News Las Vegas
        br
        p “Wayne’s…the Warren Buffett of his world.” –James J. Cramer, CNBC Host ,Host of “Mad Money”, Markets Commentator for CNBC and TheStreet.com
        br
        p  “Wayne Allyn Root is a Las Vegas legend…”–The Financial Times (of London)
        br
        p “Wayne Allyn Root is a millionaire television host, author, CEO, patriot and risk-taker. For anyone who has met Wayne Allyn Root, it’s no surprise that he has propelled himself to the highest echelons of success in the gaming, entertainment, business, political, and publishing worlds. His exuberance, enthusiasm and winning smile speak volumes.” –Millionaire magazine
        br
        br
        br
        h1.teamTitles Consultants
        br
        p Joshua Weiss started his career working for one of the largest medical device companies in the world. Year after year he was a National Award Winning Sales Representative. His success shined bright.
        br
        p Joshua’s self-made, ambitious, spirit prompted him to retire from the Medical Device industry and go out and forge his own path doing what he loves most; finance and economics, while incorporating the medical industry relationships he had developed.  
        br
        p He built his business from the ground up. He grew into a Venture Capitalist/Angel Investor and began investing in early stage companies in the biotech, oil and gas and technology sector, and has unearthed some spectacular winner.
        br
        p Joshua has spent the past ten years trading futures, options and stocks on the Nasdaq and NYSE.
        br
        p He has relationships with some of largest hedge funds and high net worth investors across the Globe.
        br
        p Joshua is married with two beautiful children.
        br
        br
        br
        br
    div.sidebarTeam
      h1 Team
      ul.ulHeader Partners
        li Wilson Rondini
        li Angus Rose
      ul.ulHeader Executive VPs
        li Tim Graveny
        li Marco Castaldo
        li Joan Abessera
        li John Howarth
      ul.ulHeader Advisory Board
        li Graham Gibby
        li David Scott
        li Frank Bult
        li Andre Peschong
        li Wayne Allyn Root
      ul.ulHeader Consultants
        li Joshua Weiss




