body{
  margin:0;
  max-width: 100%;
  overflow-x: hidden;
}

html{
  max-width: 100%;
  overflow-x: hidden;
}

.homepageHeader img{
  height: 90vh;
  width: 95vw;
}

.homepageHeader{
  margin-top: -18%;
}

.homepageContainer {
  font-size: 18px;
}

title {
  text-align: center;
  margin: 0 auto;
}

.aboutBody {
  font-size: 18px;
}

.aboutContainer h1 {
  text-align: center;
}

.clientCompaniesContainer h1{
  text-align: center;
}

.hide{
  display: none;
}

.clientCompaniesBody{
  height:70vh;
  border: 1px solid black;
  overflow-y: scroll;
  overflow-x: hidden;
}

.clientCompaniesBody p{
  margin:5px;
}

.companyList{
  border: 1px solid black;
  height: 70vh;
  overflow:auto;
}

.clientCompanyButtons{
  height:70vh;
  overflow: auto;
}

.companyList button{
  height:15vh;
  width:100%;
}

.companyList input{
  height:15vh;
  width:100%;
}

.clientCompaniesHeader {
  text-align: center;
  font-weight: bold;
  font-size: 55px;
}

.clientCompaniesContainer1 {
  display:flex;
  margin-left: 2.5%;
  margin-right: 2.5%;
  font-size: 20px;
}

.clientCompaniesBody1 {
  width: 77%;
}

.sidebarClientCompanies {
  margin-top: 5%;
}

.globalPageContainer {
  margin-top: 5%;
}

ul {
  list-style: none;
}

.ulHeader {
  font-weight:bold;
  font-size: 22px;
}

.sidebarClientCompanies li{
  padding-left: 15px;
  padding-bottom: 5px;
}

.sidebarClientCompanies ul {
  font-weight: bold;
}

.sidebarClientCompanies li:hover{
  color:blue;
  border-left:1px solid blue;
}

.sticky {
    position: fixed;
    width: 100%;
    margin-top: -5%;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}